## Python에서 MySQL 사용하기

In [1]:
import json
import pymysql

In [2]:
with open('mysql.json','r') as file:
    config_str = file.read()
config_str

'{\n    "host":"localhost",\n    "user": "hkuser",\n    "password": "hkpass",\n    "database": "world",\n    "port":3306\n}'

In [3]:
# JSON parsing
config = json.loads(config_str)
config

{'host': 'localhost',
 'user': 'hkuser',
 'password': 'hkpass',
 'database': 'world',
 'port': 3306}

- connection 객체 만들기

In [5]:
conn = pymysql.connect(
    host = config['host'],
    user = config['user'],
    password = config['password'],
    database = config['database'],
    port = config['port'],
)

In [6]:
cur = conn.cursor()  # cursor 부여

In [7]:
sql = 'select * from team;'
cur.execute(sql)

5

In [8]:
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 1, '고영표', '투수', 12000)
(2, 47, '강민호', '포수', 50000)
(3, 50, '강백호', '내야수', 31000)
(4, 52, '박병호', '내야수', 150000)
(5, 25, '양의지', '포수', 150000)

- Resource 반환

In [10]:
cur.close()
conn.close()