In [1]:
import pandas as pd

# 02. Pandas

### 1. 시리즈(Series)

In [2]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
                index=['서울','부산','인천','대구'])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [5]:
s(range(10,14))

TypeError: 'Series' object is not callable

In [ ]:
- index와 values는 속성(attribute)이므로 괄호 없이 사용

In [3]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [4]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [6]:
# name 속성을 이용하여 시리즈 데이터에 이름을 붙일 수 있음
s.name = '인구'
s.index.name = '도시'
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

- 시리즈 연산

In [7]:
s/ 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

- 시리즈 인덱싱

In [8]:
s[0], s['서울']

(9904312, 9904312)

In [11]:
s[['부산','대구']]

도시
부산    3448737
대구    2466052
Name: 인구, dtype: int64

- Slicing

In [9]:
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [10]:
# 문자열 라벨을 이용하면 :뒤의 값도 포함해서 나옴 
s['부산':'대구']

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

In [13]:
s[s < 3000000]

도시
인천    2890451
대구    2466052
Name: 인구, dtype: int64

- 편리한 인덱싱

In [16]:
s.서울, s.대구

(9904312, 2466052)

- 시리즈와 딕셔너리 자료형

In [17]:
'서울' in s

True

In [19]:
for k,v in s.items():
    print(f'{k} = {v}')

서울 = 9904312
부산 = 3448737
인천 = 2890451
대구 = 2466052

In [20]:
# 딕셔너리를 시리즈에 넣기
fruits = {'apple':1000, 'banana':2000, 'cherry':3000}
f = pd.Series(fruits)
f

apple     1000
banana    2000
cherry    3000
dtype: int64

- 데이터프레임(DataFrame)

In [25]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}

columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]

df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [24]:
# 열 이름 순서 바꿀 수는 있지만 그에 해당하는 속성 값은 그대로 있음

data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}

columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]

df = pd.DataFrame(data)

df.columns =  ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
df

         지역     2015     2010     2005 2000  2010-2015 증가율
서울  9904312  9631482  9762546  9853972  수도권         0.0283
부산  3448737  3393191  3512547  3655437  경상권         0.0163
인천  2890451  2632035  2517680  2466338  수도권         0.0982
대구  2466052  2431774  2456016  2473990  경상권         0.0141

In [44]:
# 시리즈에서 처럼 열방향 인덱스와 행방향 인덱스에 이름을 붙이는 것도 가능하다.

df.index.name = "도시"
df.columns.name = "특성"
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  temp
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283     5
부산  경상권  3448737  3393191  3512547  3655437         0.0163     6
인천  수도권  2890451  2632035  2517680  2466338         0.0982     7
대구  경상권  2466052  2431774  2456016  2473990         0.0141     8

In [26]:
# 데이터프레임은 전치(transpose)를 포함하여 넘파이 2차원 배열이 가지는 대부분의 속성이나 메서드를 지원한다.
df.T

                    서울       부산       인천       대구
지역                 수도권      경상권      수도권      경상권
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

In [27]:
df['지역']

서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [28]:
df.지역

서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [37]:
# 새로운 열 생성할 시에는 df.temp와 같이 쓸 수 없음
df['temp'] = [1,2,3,4]
df

     지역     2015     2010     2005     2000  2010-2015 증가율  temp
서울  수도권  9904312  9631482  9762546  9853972         0.0283     5
부산  경상권  3448737  3393191  3512547  3655437         0.0163     6
인천  수도권  2890451  2632035  2517680  2466338         0.0982     7
대구  경상권  2466052  2431774  2456016  2473990         0.0141     8

In [36]:
# 수정할 때에는 가능
df.temp = [5,6,7,8]

In [40]:
df['why'] = [0,1,0,1]
df

     지역     2015     2010     2005     2000  2010-2015 증가율  temp  why
서울  수도권  9904312  9631482  9762546  9853972         0.0283     5    0
부산  경상권  3448737  3393191  3512547  3655437         0.0163     6    1
인천  수도권  2890451  2632035  2517680  2466338         0.0982     7    0
대구  경상권  2466052  2431774  2456016  2473990         0.0141     8    1

In [43]:
# 열 삭제하기
del df['why']

- 열 인덱싱

#### - 인덱스로 라벨 값을 하나만 넣으면 시리즈 객체가 반환되고 라벨의 배열 또는 리스트를 넣으면 부분적인 데이터프레임이 반환된다.

In [46]:
# df[] -- 하나의 열만 인덱싱하면 시리즈가 반환
df['2010']

도시
서울    9631482
부산    3393191
인천    2632035
대구    2431774
Name: 2010, dtype: int64

In [45]:
# df[[]] -- 리스트를 써서 인덱싱하면 데이터 프레임이 반환
df[['2010']]

특성     2010
도시
서울  9631482
부산  3393191
인천  2632035
대구  2431774

- 행 인덱싱

#### - 만약 행 단위로 인덱싱을 하고자 하면 항상 슬라이싱(slicing)을 해야 한다. 인덱스의 값이 문자 라벨이면 라벨 슬라이싱도 가능하다.

In [49]:
df[:1]

특성   지역     2015     2010     2005     2000  2010-2015 증가율  temp
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283     5

In [51]:
df['서울':'부산']

특성   지역     2015     2010     2005     2000  2010-2015 증가율  temp
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283     5
부산  경상권  3448737  3393191  3512547  3655437         0.0163     6

- 개별 데이터 인덱싱

#### - 데이터프레임에서 열 라벨로 시리즈를 인덱싱하면 시리즈가 된다. 이 시리즈를 다시 행 라벨로 인덱싱하면 개별 데이터가 나온다.

In [52]:
df['지역']['서울']

'수도권'

In [54]:
df.지역.서울

'수도권'

In [50]:
# 가장 보편적으로 사용
df['2015']['부산'] # 또는 df['2015'][1]

3448737

In [59]:
df['2015']

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 2015, dtype: int64

In [55]:
# 익숙해지면 이렇게 사용
df.지역[0]

'수도권'

In [58]:
df.지역

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object