## 데이터프레임 고급인덱싱

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Pandas는 numpy행렬과 같이 쉼표를 사용한 (행 인덱스, 열 인덱스) 형식의 2차원 인덱싱을 지원하기 위해 다음과 같은 특별한 인덱서(indexer) 속성도 제공한다.

# loc : 라벨값 기반의 2차원 인덱싱
# iloc : 순서를 나타내는 정수 기반의 2차원 인덱싱

- loc 인덱서

In [2]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index = ["a", "b", "c"],
                  columns = ["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [4]:
df.loc['a']

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [5]:
df.loc['a':'b']  #이 때는 사실 loc를 쓰지 않는 경우과 같다.

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [8]:
df['a':'b']

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [6]:
df.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [7]:
# Boolean index도 사용 가능
df.loc[df.A > 15]

    A   B   C   D
c  18  19  20  21

In [9]:
# 개별 값
df.loc['c','D'], df['D']['c']

(21, 21)

In [10]:
# 슬라이싱
df.loc['b':,'C':]

    C   D
b  16  17
c  20  21

In [12]:
df.loc['a':'a']

    A   B   C   D
a  10  11  12  13

- iloc 인덱서

In [11]:
df.iloc[1:, 2:]   # 넘파이 인덱싱처럼 행, 열 순으로

    C   D
b  16  17
c  20  21

In [13]:
df.iloc[-1, -1]

21

In [14]:
df.iloc[:2, 2]

a    12
b    16
Name: C, dtype: int32

In [20]:
df.iloc[0]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [19]:
df.iloc[0:1]

    A   B   C   D
a  10  11  12  13

In [15]:
df.iloc[2:3, 1:3]

    B   C
c  19  20