In [2]:
import pymysql 
import pandas 
from haversine import haversine

In [5]:
import pandas as pd

In [6]:
df_ent = pd.read_csv('ent.csv')
df_ent.head()

  자전거도로입구명                   지번주소             도로명주소         위도          경도
0     불광천1      서울 은평구 응암동 112-22   서울 은평구 불광천길 560  37.598866  126.916648
1     불광천2      서울 은평구 응암동 113-35   서울 은평구 불광천길 536  37.598025  126.916409
2     DMC1       서울 서대문구 북가좌동 460   서울 서대문구 수색로 157  37.576361  126.903270
3     DMC2  서울 마포구 중동 390 청구아파트상가  서울 마포구 성암로11길 60  37.574341  126.901659
4     홍제천1         서울 마포구 성산동 595   서울 마포구 월드컵로 207  37.564632  126.900982

In [10]:
# 37번 대여소
df_ent.iloc[[37]]

        자전거도로입구명           지번주소            도로명주소         위도         경도
37  잠실파크리오3단지아파트  서울 송파구 신천동 20  서울 송파구 올림픽로 435  37.519893  127.10835

In [14]:
df_ent['위도'][37]

37.5198928

In [7]:
df_mj = pd.read_csv('newmj_393.csv')
df_mj.head()

,Unnamed: 0,title,addr,score,lng,lat
0,0,버터램,서울 송파구 충민로 81-9 1층,4.5,127.126092,37.479980
1,1,다운타우너 잠실,서울 송파구 백제고분로45길 3 1층,4.0,127.110665,37.509038
2,2,갓잇 송리단길점,서울 송파구 백제고분로45길 4-14 트리비유 1층,3.9,127.111327,37.509653
3,3,청와옥 본점,서울 송파구 위례성대로 48,3.6,127.117530,37.515314
4,4,라라브레드 송파점,서울 송파구 오금로16길 4,3.9,127.109105,37.511133

In [41]:
df_mj = df_mj.drop(['Unnamed: 0'], axis=1)
df_mj.head()

       title                          addr  score         lng        lat
0        버터램            서울 송파구 충민로 81-9 1층    4.5  127.126092  37.479980
1   다운타우너 잠실          서울 송파구 백제고분로45길 3 1층    4.0  127.110665  37.509038
2   갓잇 송리단길점  서울 송파구 백제고분로45길 4-14 트리비유 1층    3.9  127.111327  37.509653
3     청와옥 본점               서울 송파구 위례성대로 48    3.6  127.117530  37.515314
4  라라브레드 송파점               서울 송파구 오금로16길 4    3.9  127.109105  37.511133

In [34]:
df_mj.shape

(393, 5)

In [51]:
df_mj.iloc[3].values

array(['청와옥 본점', '서울 송파구 위례성대로 48', 3.6, 127.11752964387,
       37.5153144419563], dtype=object)

In [40]:
wanted = [] # 지도에 나타낼 정보 + 위경도
s_lat = df_ent['위도'][37] # 위도
s_lng = df_ent['경도'][37] #경도

for i in range(0, 393):
    g_lat = df_mj['lat'][i] # 위도
    g_lng = df_mj['lng'][i] #경도

    start = (float(s_lat), float(s_lng)) # 대여소(기준) 위치
    goal = (float(g_lat), float(g_lng)) # 별점3점이상 음식점 위치
    distance = haversine(start, goal, unit = 'km') # 두 관측치 사이 거리
    
    if distance <= 1.0:
        wanted.append(df_mj.iloc[i].values)

wanted[0:3]

[    title             addr  score        lng        lat
 3  청와옥 본점  서울 송파구 위례성대로 48    3.6  127.11753  37.515314,
        title             addr  score         lng        lat
 4  라라브레드 송파점  서울 송파구 오금로16길 4    3.9  127.109105  37.511133,
      title              addr  score         lng        lat
 6  별미곱창 본점  서울 송파구 오금로11길 14    4.3  127.108893  37.514457]

In [43]:
wanted[0]

    title             addr  score        lng        lat
3  청와옥 본점  서울 송파구 위례성대로 48    3.6  127.11753  37.515314

In [47]:
wanted[1]

       title             addr  score         lng        lat
4  라라브레드 송파점  서울 송파구 오금로16길 4    3.9  127.109105  37.511133

In [42]:
df = pd.DataFrame(wanted)
df.head()

ValueError: Must pass 2-d input. shape=(93, 1, 5)