## 카카오맵 API
- 도로명주소로부터 위도, 경도 정보 구하기

In [1]:
import requests
from urllib.parse import quote
import pandas as pd

In [2]:
with open('kakaoapikey.txt',mode='r') as key_file:
    kakao_key = key_file.read()

In [3]:
len(kakao_key)

32

In [3]:
addr = '올림픽로35길 104'
local_url = "https://dapi.kakao.com/v2/local/search/address.json"

url = f'{local_url}?query={quote(addr)}'
url

'https://dapi.kakao.com/v2/local/search/address.json?query=%EC%98%AC%EB%A6%BC%ED%94%BD%EB%A1%9C35%EA%B8%B8%20104'

In [4]:
# "Authorization: KakaoAK {REST_API_KEY}"
result = requests.get(url, headers={"Authorization":f"KakaoAK {kakao_key}"}).json()
result

{'documents': [{'address': {'address_name': '서울 송파구 신천동 7',
    'b_code': '1171010200',
    'h_code': '1171071000',
    'main_address_no': '7',
    'mountain_yn': 'N',
    'region_1depth_name': '서울',
    'region_2depth_name': '송파구',
    'region_3depth_h_name': '잠실6동',
    'region_3depth_name': '신천동',
    'sub_address_no': '',
    'x': '127.099302526074',
    'y': '37.519817176496'},
   'address_name': '서울 송파구 올림픽로35길 104',
   'address_type': 'ROAD_ADDR',
   'road_address': {'address_name': '서울 송파구 올림픽로35길 104',
    'building_name': '장미아파트',
    'main_building_no': '104',
    'region_1depth_name': '서울',
    'region_2depth_name': '송파구',
    'region_3depth_name': '신천동',
    'road_name': '올림픽로35길',
    'sub_building_no': '',
    'underground_yn': 'N',
    'x': '127.099302526074',
    'y': '37.519817176496',
    'zone_no': '05504'},
   'x': '127.099302526074',
   'y': '37.519817176496'}],
 'meta': {'is_end': True, 'pageable_count': 1, 'total_count': 1}}

In [20]:
lng=result['documents'][0]['x'] # 경도

'126.967109652664'

In [21]:
lat=result['documents'][0]['y']   # latitude 위도

'37.5598688323642'

- addr.csv로부터 주소를 읽어 위도, 경도 정보를 추가한뒤 addr2.csv에 저장

In [23]:
df= pd.read_csv('addr.csv')
df

       건물명                           주소
0  한국경제신문사       서울특별시 중구 청파로 463 (중림동)
1   서울특별시청    서울특별시 중구 세종대로 110 (태평로1가)
2     종로구청      서울특별시 종로구 종로1길 36 (수송동)
3      중구청       서울특별시 중구 창경궁로 17 (예관동)
4    서대문구청     서울특별시 서대문구 연희로 247 (연희동)
5     용산구청  서울특별시 용산구 백범로79길 64 (청파동3가)

In [25]:
lng_list=[]; lat_list=[]

In [27]:
for i in df.index:

    url=f"{local_url}?query={quote(df['주소'][i])}"
    result = requests.get(url, headers={"Authorization":f"KakaoAK {kakao_key}"}).json()
    lng=result['documents'][0]['x']
    lat=result['documents'][0]['y']
    lng_list.append(lng)
    lat_list.append(lat)

In [28]:
df['위도']=lat_list
df['경도']=lng_list
df

       건물명                           주소                위도                경도
0  한국경제신문사       서울특별시 중구 청파로 463 (중림동)  37.5598688323642  126.967109652664
1   서울특별시청    서울특별시 중구 세종대로 110 (태평로1가)  37.5663174209601  126.977829174031
2     종로구청      서울특별시 종로구 종로1길 36 (수송동)  37.5735051436739  126.978988255925
3      중구청       서울특별시 중구 창경궁로 17 (예관동)  37.5641201543296  126.998009728978
4    서대문구청     서울특별시 서대문구 연희로 247 (연희동)  37.5791549275777  126.935815915686
5     용산구청  서울특별시 용산구 백범로79길 64 (청파동3가)  37.5416021897984   126.96497660839

In [29]:
df.to_csv("addr2.csv",index=False, sep=',',encoding='utf8')