### 서울시 공원 지도 시각화

In [1]:
import pandas as pd
import folium
import numpy as numpy
import seaborn as sns
import matplotlib as mpl

In [2]:
mpl.rc('font', family='NanumBarunpen')
mpl.rc('axes', unicode_minus=False)

In [3]:
park = pd.read_csv('C:/workspace/park.csv')
park.head(1)

,공원번호,공원명,공원개요,면적,개원일,주요시설,주요식물,안내도,오시는길,이용시참고사항,이미지,지역,공원주소,관리부서,전화번호,X좌표(GRS80TM),Y좌표(GRS80TM),X좌표(WGS84),Y좌표(WGS84),바로가기
0,1,남산도시자연공원,남산공원은 도심에 위치하여 서울시민에게 맑은 공기를 제공하는 자연휴식처이며 산책 꽃...,2896887㎡ 2454140㎡ 442747㎡,1968.9.10,기반시설 : 광장 45950㎡ 도로 108530㎡ 산책로 6.7㎞ (북측:3.7㎞/...,소나무 단풍 아카시아 상수리나무 등 191종 2881870주,http://parks.seoul.go.kr/upload/seditorMulti/2...,명동역(남산케이블카 와룡묘 서울애니메이션센터 방면) 도보 명동역 3번출구 → 퍼시픽...,남산공원 차량통행 금지안내 2005년 5월 1일부터 남산공원에 일반승용차 택시 통행...,http://parks.seoul.go.kr/file/info/view.do?fId...,중구,서울특별시 중구 삼일대로 231(예장동),서울특별시중부푸른도시사업소,02-3783-5900,198364.107,450395.554,126.990377,37.55014,http://parks.seoul.go.kr/template/sub/namsan.do

In [16]:
park.loc[0]['면적']

'2896887㎡ 2454140㎡ 442747㎡'

In [19]:
s = park['면적'][0]
s2 = s.strip().split('㎡')
s2

['2896887', ' 2454140', ' 442747', '']

In [6]:
type(park.isna().sum())

pandas.core.series.Series

In [5]:
park.isna().sum()

공원번호              0
공원명               0
공원개요              1
면적                0
개원일              10
주요시설              8
주요식물             44
안내도              30
오시는길             17
이용시참고사항          12
이미지               0
지역                0
공원주소              0
관리부서              0
전화번호              0
X좌표(GRS80TM)     10
Y좌표(GRS80TM)     10
X좌표(WGS84)        1
Y좌표(WGS84)        1
바로가기            114
dtype: int64

In [4]:
park['면적'] = park.면적.fillna('0')
park.면적.isnull().sum()

0

In [24]:
type(park.면적)

pandas.core.series.Series

In [6]:
def calc_area(s):
    if s == '0':
            return 0
    area_list = s.strip().split('㎡')
    area = 0
    for area_str in area_list:
        if area_str == '':
            continue
        area += float(area_str) 
    return area

In [29]:
#list(map(calc_area,park.면적))

In [25]:
calc_area(park['면적'][0])

5793774.0

In [12]:
park['area'] = list(map(calc_area,park.면적))
park[['면적','area']].head()

                          면적       area
0  2896887㎡ 2454140㎡ 442747㎡  5793774.0
1                     80683㎡    80683.0
2                   9132690㎡  9132690.0
3                    480994㎡   480994.0
4                   2284085㎡  2284085.0

In [ ]:
park['area'] = park['면적'].apply(calc_area).astype(int)
park[['면적', 'area']].head()

In [ ]:
https://tariat.tistory.com/622

In [ ]:
park_new = park[['공원명','지역','공원주소','area','공원개요']]
park_new.head()

In [8]:
import requests
from urllib.parse import quote
import pandas as pd

In [ ]:
with open('kakaoapikey.txt',mode='r') as key_file:
    kakao_key = key_file.read()

In [2]:
import json
geo_str = json.load(open('skorea_municipalities_geo_simple.json',
                         encoding='utf8'))